# Server Configuration
NODE_ENV=local
PORT=5000

CLIENT_URL=http://localhost:5173

# Database Configuration
MONGODB_URI=your_mongodb_connection_string

# Password / Security Configuration
HASH_PWD=your_hash_password

JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRES_IN=60m

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password

# OpenAI / AI Configuration
OPENAI_API_KEY=your_openai_api_key
AI_MODEL=your_ai_model
OPEN_AI_MODEL=your_open_ai_model

# RAG Configuration
RAG_MIN_SCORE=0.75

# AI Summary Configuration
SUMMARY_THRESHOLD=
SUMMARY_INTERVAL=
