@import "tailwindcss";

html,
body {
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

textarea:focus {
  --tw-ring-color: tranperant !important;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
